extends base

block content
    main
        div 
            video(src=`/${video.videoUrl}`, controls) 
            p=video.desciption
            small=video.createdAt
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video
    include partials/footer