extends base

block content
    div.container
        section#videoContainer(data-id=video._id, tabindex="100").video-container
            video(src=video.videoUrl, crossorigin)
            div#videoControls.videoControls
                div.videoControls__play
                    span#play.videoControls__playBtn
                        i.fas.fa-play
                    div.videoControls__time
                        span#currentTime 00:00
                        span /
                        span#totalTime 00:00
                input#timeline.videoControls__timeline(type="range", min="0", step="1", value="0")
                div.videoControls__volume
                    input#volume(type="range", name="range", min="0", max="1", step="0.1", value="0.5")
                    span#mute 
                        i.fas.fa-volume-up
                    span#fullScreen
                        i.fas.fa-expand
        section.info
            div.video-info
                each hashtag in video.hashtags
                    span.hash #{"#" + hashtag + ' '}
                span.video-info__title=video.title
                span.video-info__views 조회수 #{video.meta.views}
                span.video-info__createdAt   • #{date}
                if String(video.owner._id) === String(loggedInUser._id)
                    div.only-owner
                        a(href=`${video.id}/edit`) Edit Video
                        br
                        a(href=`${video.id}/delete`) Delete Video
            div.owner-info
                div
                    img.owner-info__avatar(src=video.owner.avatarUrl, crossorigin)
                    a(href=`/users/${video.owner._id}`)=video.owner.name
                p=video.description

        if loggedIn
            div.video__comments-form-div
                h3 댓글 #{video.comments.length}개
                div
                    if loggedInUser.avatarUrl
                        img.video__comments-form-div-avatar(src=loggedInUser.avatarUrl, crossorigin)
                    else
                        div.video__comments-form-div-avatar
                            i.fas.fa-user
                    form.video__comment-form#commentForm
                        textarea(cols="30", rows="1", placeholder="Write a nice comment", minlength=3, maxlength=300)
                        button Add Comment

        div.video__comments
            ul
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment._id)
                        if comment.avatarUrl
                            img.video__comment-avatar(src=comment.avatarUrl, crossorigin)
                        else 
                            div.video__comment-avatar
                                i.fas.fa-user
                        div.text-box
                            div.name
                                span=comment.name
                                if String(comment.owner._id) == loggedInUser._id
                                    span.delete ✖
                            div.text=comment.text

block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js")